.blog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5vw;
    grid-row-gap: 1.75em;
    justify-content: space-around;
}

.blog-card {
    width: 17rem;
    height: 17rem;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.8em;
    cursor: pointer;
    box-shadow: var(--shadow-dp04);
    background-color: var(--card-background);
    border-radius: 8px;
}

.blog-title {
    font-size: 2.6rem;
}

.blog-desc {
    font-size: 1.3rem;
    opacity: 70%;
}

.blog-link {
    margin-top: auto;
    padding: 0 1em 0 1em;
}