.contact {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: baseline;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
}

.contact-icon>object {
    aspect-ratio: 1/1;
}

.contact-icon {
    border-radius: 50%;
    padding: 0.2em;
}

/* https: //codepen.io/sosuke/pen/Pjoqqp */
.contact-icon:hover {
    background-color: red;
}