nav {
    display: flex;
    justify-content: center;
    padding: 1em;
    position: sticky;
    top: 0;
    background-color: #082032;
    z-index: 1;
}

.nav-option {
    margin: 0 1em 0 1em;
    width: 7vw;
    text-align: center;
}