.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1.75em;
    margin: 5vw;
}

.project-card {
    width: 17rem;
    height: 17rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.8em;
    cursor: pointer;
    line-height: 1.2;
    border-radius: 8px;
    background-color: var(--card-background);
    box-shadow: var(--shadow-dp04);
}

.project-title {
    font-size: 2.6rem;
}

.project-desc {
    opacity: 70%;
    font-size: 1.1rem;
}

.project-links {
    display: flex;
    margin-top: auto;
    justify-content: space-around;
}