@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600&family=Roboto+Mono&display=swap');

:root {
    --action-orange: #FF4C29;
    --grey: #334756;
    --grey-dark: #2C394B;
    --grey-darker: #082032;
    --grey-white: #e5e5e5;
    --card-background: hsla(0, 100%, 100%, 0.09);

    --shadow-dp04: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
        0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
        0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
    --shadow-dp12: 0px 12px 17px 2px hsla(0, 0%, 0%, 0.14),
        0px 5px 22px 4px hsla(0, 0%, 0%, 0.12),
        0px 7px 8px -4px hsla(0, 0%, 0%, 0.2);
}

body {
    font-size: 1.2rem;
    font-family: "Georgia", Times, serif;
    background: var(--grey-dark);
    color: var(--grey-white);
}


.btn {
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    background-color: var(--action-orange);
    color: var(--grey-white);
    box-shadow: var(--shadow-dp04)
}

.btn:hover {
    filter: brightness(120%);
    box-shadow: var(--shadow-dp12);
}

.btn:active {
    box-shadow: var(--shadow-dp04);
}